/* red F06748 purple BB48F0 green 7DF048 blue 48D1F0*/

.page-header {
    background-color: #BB48F0; /* #ff9400 */
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;   /* #ffffff */
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Bangers', cursive;
}

.date {
    float: right;
    color: #828282; /* #828282 */
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff; /* #ffffff */
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000; /* #000000 */
}

p {
	font-family: 'Indie Flower', cursive;
}

